.card {
    align-items: center;
    align-content: center;
    border-radius: 18px;
    margin-top: 20px;   
    margin-bottom: 10px;  
    width: 50px;
}

.border-danger{
    background-color: rgba(230, 230, 230, 0.205); 
}


.card-body{
    text-align: center;
    align-items: center;
    width: 40rem;
    height: 8rem; 
    
}

.card-deck{
    
    margin-right: 1%;
}

.card-text{
    font-size: 20px;
}


/* div{
    border: red solid 1px;
} */