<!DOCTYPE html>
<html>
<head>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://unpkg.com/ionicons@4.5.10-0/dist/ionicons.js"></script>
</head>
<body>
  <header >
    
  </header>
<div id="sidenav"> 
  <app-menu-icon [text]="'Login'" [icon]="'fa fa-user-circle'" (iconClick)="click('\Login')"></app-menu-icon>
  <app-menu-icon [text]="'Provas'" [icon]="'fa fa-user-circle'" (iconClick)="click('\Provas')"></app-menu-icon>
  <app-menu-icon [text]="'Questões'" [icon]="'fa fa-user-circle'" (iconClick)="click('\Questoes')"></app-menu-icon>
  <app-menu-icon [text]="'Provas realizadas'" [icon]="'fa fa-user-circle'" (iconClick)="click('\ProvasRealizadas')"></app-menu-icon>
  <app-menu-icon [text]="'Executar prova'" [icon]="'fa fa-user-circle'" (iconClick)="click('\ExecProva')"></app-menu-icon>
  </div>

  <div class="main">
    <router-outlet>
      
    </router-outlet>
  </div>
   
</body>
</html> 
