<div class="card teste">
  <div class="card-body">
    <h5 class="card-title"> <b>Executar prova</b></h5>
    <!-- div que só será exibido caso a variavel executando esteja true-->
    <div *ngIf="executando">
      <p></p>
      <div>
        <label>Nome: </label><input type="text" class="form-control" [(ngModel)]="nome" id="name" required>
        <p></p>

      </div>
      <div class="card-body border" *ngFor="let qt of prova">
        <label>Questão: {{qt.ask}}</label>
        <p></p>
        <label class="form-check-label row">
          <div class="col-11">a) {{qt.a}}</div>
          <div class="col"><input class="form-check-input" style="margin-top: 15%;" type="radio" name="{{qt.id}}"
              [(ngModel)]="qt.resp" value="a" id="{{qt.id}}"></div>
        </label>
        <p></p>
        <label class="form-check-label row">
          <div class="col-11">b) {{qt.b}} </div>
          <div class="col"><input class="form-check-input" style="margin-top: 15%;" type="radio" name="{{qt.id}}"
              [(ngModel)]="qt.resp" value="b" id="{{qt.id}}"></div>
        </label>
        <p></p>
        <label class="form-check-label row">
          <div class="col-11">c) {{qt.c}} </div>
          <div class="col"><input class="form-check-input" style="margin-top: 15%;" type="radio" name="{{qt.id}}"
              [(ngModel)]="qt.resp" value="c" id="{{qt.id}}"></div>
        </label>
        <p></p>
        <label class="form-check-label row">
          <div class="col-11">d) {{qt.d}} </div>
          <div class="col"><input class="form-check-input" style="margin-top: 15%;" type="radio" name="{{qt.id}}"
              [(ngModel)]="qt.resp" value="d" id="{{qt.id}}"></div>
        </label>
        <p></p>
      </div>

      <a class="btn btn-danger" style="float:right " (click)="save()" *ngIf="executando">Salvar</a>

      <a class="btn btn-secondary" style="float:left" (click)="ngOnInit()" *ngIf="executando">Limpar</a>
    </div>
    <!-- div que só será exibido caso a variavel executando esteja true-->
  </div>
</div>

<!-- div que só será exibido caso a variavel executando e retornar nota esteja false-->
<table class="table table-bordered" *ngIf="!executando && !retornarNota">
  <thead>
    <tr class="topo">
      <th scope="col" class="nome">Prova</th>
      <th scope="col" class="acao">EXECUTAR</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let pr of list">
      <th scope="row">{{pr.id}}</th>
      <td>
        <a class="btn icone" style="margin-right: 4px;" (click)="executar(pr)">
          <i class="fa fa-edit"></i>
        </a>
      </td>
  </tbody>
</table>
<!-- div que só será exibido caso a variavel executando e retornar nota esteja false-->

<!-- div que só será exibido caso a variavel retornar nota esteja true-->
<div class="card teste" *ngIf="retornarNota">
  <div class="card-body">
    <h5 class="card-title"> <b>Prova finalizada!</b></h5>
    <p>{{nome}}, sua nota na prova foi {{nota}}!</p>
    <a class="btn btn-secondary" style="float: right;" (click)="ngOnInit()" *ngIf="retornarNota">Continuar</a>
  </div>
</div>
<!-- div que só será exibido caso a variavel retornar nota esteja true-->