<!--<div class="card teste">
    <div class="card-body">
        <h5 class="card-title"> <b>Cadastro do Layout de Ordem de Manutenção</b></h5>
<p>questoes works!</p>
</div>
</div>-->
<div class="card teste">
    <div class="card-body">
       <h5 class="card-title"> <b>Cadastro do Layout de Ordem de Manutenção</b></h5>
         <p></p>
           
             <div class="form-group">
                <label for="add">Layout da OM:</label>
              <p></p>
              <label for="add" *ngIf="!editando">Estilo do Layout:</label>
             </div>
           
    </div>
</div>