.btUser{
    text-align: center;
    margin-top: 1%;
}
#userIcon{
    font-size: 2rem;
}
#userIcon p{
    font-size: 1.1rem;
    margin-top: 2%;
    
}
.btUser a:hover{
    color:#9c0000;
    text-decoration:none;
}
.btUser a{
    color:#797979;
}
.teste{
    text-align: center;
    padding-left: 20px;
}
.appMenu{
    padding:3%;
    
}

